body{
	margin:0;
    text-align: center;
}

.background {
    position:fixed;
    Opacity: 0.5;
    Z-index: -1;
}
.background img {
    width:100vw;
    height: 100vh;
}

#top
{	
	text-align: center;
	font-weight: bold;   
	font-size: 25px;
	margin: auto;
	padding: 20px;
}
#top_h1{
	vertical-align:middle;
    font-family: "Copperplate", fantasy;
}
#top_h4{
    font-family: "Lucida Handwriting", cursive;
}

#q1{
    padding: 20px;
    width: 500px;
    height: 500px;
    margin-bottom: 20px;
}

#q2{
    padding: 20px;
    width: 500px;
    height: 500px;
    margin-top: -5%;
    margin-bottom: -2%;
}

#q3{
    padding: 20px;
    height: 500px;
}

#q4{
    padding: 20px;
    height: 500px;
}

#q5{
    padding: 20px;
    height: 500px;
}

#q6{
    padding: 20px;
    width: 60%;
}

#box{
    padding: 35px;
    background-color: white;
    width: 20%;
    margin: auto;
}
