body{
    background-image: url("./assets/R.jpg");
    background-size: 300px;
    width: 100%;
    height: 100%;
}

#box{
    margin:auto;
    display:flex;
    width:50%;
    height:500px;
    background-color: #ada9a1;
    border-radius: 10px;
    border: 2px solid #9c8c84
}
h1{
    text-align: center;
}
input{
    float:right;
}
.column {
	float: left;
	width: 11em;
	
}
.inner{
    display: flex;
    padding:15px;
    width: 70%;
    background-color: #d1c8bd;
    margin-top:15px;
    margin-bottom:15px;
    border-radius: 10px;
    opacity:.8;
}

#left{
    flex-basis: 50%;
    border-right:2px solid rgb(204, 184, 159);
    margin-left:15px;
    flex-direction: column;
    margin-right:7px;
}
#right{
    flex-basis:50%;
    clear: left;
    border-left:2px solid rgb(204, 184, 159);
    margin-right:15px;
    margin-left:7px;
    flex-direction: column;
}
label, input{
    clear:both;
    text-align: left;
}
form{
    display:table;
    columns:2;
}